.alert-info {
  background: #353f4a url(https://game-tournaments.com/assets/img/spoiler.png) 0 0;
  line-height: 1.5;
  color: #9ca6af;
  font-size: 0.9em;
  border: 2px solid #424f5a;
  padding: 15px;
}