#wrapper {
    padding-left: 0px;
}
.content-wrapper {
    height: 100%;
    margin-left: 250px;
    transition: margin;
    padding: 20px;
}
.admin {
    background-color: #1d2022;
    background-image: none;
}
.admin .container{
    width: auto;
    max-width: inherit;
}
.pagebg{
    border: 0 0 5px 5px;
}
.pagebg .table {
    margin: 0 10px;
}
.pagebg  .panel{
    margin: 0 10px 10px;
}